<!DOCTYPE html>
<html lang="en" data-ng-app="ListesApp">
<head>
  <meta charset="utf-8">
  <title>Liste des services</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="app.js"></script>
</head>

<body>
<div class="panel panel-primary" data-ng-controller="ListesController as Listectrl" style="margin-left:10%;margin-right:10%;margin-top:2%;background-color: #6ec7ff">
    <div ng-show="Listectrl.step==1">
        <h3 style="margin-left: 5%">Sélectionnez vos produits</h3></br>
            <table style="width:100%">
                <tr>
                    <td style="width:45%;padding-bottom: 1%">
                        <p style="margin-left: 5%">Produits disponibles :</p>
                        <select size="10" multiple="multiple" style="width:90%; margin-left: 3%" ng-dblclick="Listectrl.addToIncluded()" ng-model="Listectrl.selectedDispoItems" ng-options="item.title for item in Listectrl.items"/>
                    </td>
                    <td style="width:10%;margin-bottom: 1%">
                        <input type="button" value="▶|" ng-click="Listectrl.addToIncluded()"/> <br><br>
                        <input type="button" value="▶▶|" ng-click="Listectrl.addAllToIncluded()"/> <br><br>
                        <input type="button" value="|◀" ng-click="Listectrl.removeFromIncluded()"/> <br><br>
                        <input type="button" value="|◀◀" ng-click="Listectrl.RemoveAllFromIncluded()"/><br><br>
                    </td>
                    <td style="width:45%;margin-bottom: 1%">
                        <p>Produits sélectionnés :</p>
                        <select size="10" multiple="multiple" style="width:90%; margin-left: 3%" ng-dblclick="Listectrl.removeFromIncluded()" ng-model="Listectrl.selectedIncludedItems" ng-options="includedItem.title for includedItem in Listectrl.includedItems"/>
                    </td>
                </tr>
            </table>
        <p style="padding-left: 2%">
            <ng-pluralize count="Listectrl.includedItems.length" when="{0:'Aucun produit sélectionné',
                                                1:'1 produit sélectionné',
                                                'other':'{} produits sélectionnés'}"></ng-pluralize>
        </p>
        <div class="toggle ng-scope" style="background-color: darkblue; margin-left: 5%;margin-right: 5%; padding-top: 1%;padding-bottom: 0.5%">
            <p style="text-align: end;padding-right: 10%;"> <input type="button" value="Etape Suivante ▶|" ng-click="Listectrl.Verif()"/></p>
        </div>
    </div>
<div ng-show="Listectrl.step==2" style="margin-left:10%;margin-right:10%;margin-top:2%;background-color: #6ec7ff">
    <h3 style="margin-left: 5%">Votre choix</h3></br>
    <table>
        <tr ng-repeat="item in Listectrl.includedItems">
            <td><img style="padding-top: 10%" ng-src="{{item.image}}"/></td>
            <td style="padding-left: 20%">{{item.title}}</td>
        </tr>
    </table>
</br>
    <div class="toggle ng-scope" style="background-color: darkblue; margin-left: 5%;margin-right: 5%; padding-top: 1%;padding-bottom: 0.5%">
        <p style="text-align: start;padding-right: 10%;"> <input type="button" value="|◀ Retour à l'étape précédente" ng-click="Listectrl.Verif()"/></p>
    </div>
</div>
</div>
</body>
</html>