<!DOCTYPE html>
<html lang="en" data-ng-app="noteApp">
<head>
  <meta charset="utf-8">
  <title>NoteApp</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
  <script src="app.js"></script>
</head>

<body>
  <div class="panel panel-primary" data-ng-controller="NoteController as Notectrl" style="width:50% ; margin-top:5% ; margin-left:25%">
        <div class="panel-heading">Ex 1 : Note Application</div>
        <div class="panel-body">
          <div class="form-group">
        <textarea name="message" id="message" class="form-control" maxlength="100" data-ng-change="Notectrl.count()" data-ng-model="Notectrl.messageNote"></textarea><br>
        <button type="button" class="btn btn-primary btn-lg active" data-ng-click="Notectrl.save()">Enregistrer</button>&nbsp
        <button type="button" class="btn btn-primary btn-lg active" data-ng-click="Notectrl.clear()">Effacer</button>
        <br><br>
        <p class="bg-info">Nombre de caractères restants : {{Notectrl.compte}}</p>
        <p data-ng-class="Notectrl.affich()">{{Notectrl.infos()}}</p>
    </div>
  </div>
  </div>
</body>
</html>